*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #222222;
}
body{
    justify-content: space-between;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    
}
 .menu{
    display: flex;
    list-style-type: none;
    /* text-decoration: none; */
} 
.menu li{
    justify-content: space-between;
    padding-right: 20px;
}
.menu li a{
    text-decoration: none;
    color: var(--text-color);
}
.header__search{
    width: 182px;
    height: 32px;
    margin-right: 12px;
    background-color: rgba(0,0,0,0.2);
    border-width: 0px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(136, 136, 136, 1);
    
}
.header__btn{
    padding: 5px 10px;
}
.btn--register{
    margin-right: 12px;
}


