* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-around;
}
.menu__item {
  margin-top: 40px;
  max-width: 370px;
}
.menu__item .card1 {
  font-family: Inter;
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 28px;
  border-radius: 24px;
  border: 1.2px solid #EFEFEF;
  background: #FFF;
}
.menu__item .card1__name {
  color: #181818;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  height: 48px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.menu__item .card1__body {
  width: 100%;
}
.menu__item .card1__discription {
  color: #787878;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: -0.16px;
  height: 52px;
  margin-top: 10px;
}
.menu__item .card1__footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.menu__item .card1__price {
  color: #060606;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu__item .card1__icon {
  display: flex;
  gap: 10px;
}
.menu__item .card1__img {
  height: 194px;
}
.menu__item .card1 img {
  height: 100%;
}
.menu__btn {
  display: flex;
  align-items: center;
  width: 188px;
  height: 62px;
  justify-content: space-between;
  border: none;
  border-radius: 16px;
  background: linear-gradient(102deg, #46C266 41.25%, #2FB652 98.64%);
  box-shadow: 0px 10px 20px -10px rgba(58, 186, 90, 0.16);
  margin: 55px auto;
}
.menu__btn span {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
}
.menu__btn img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 15px;
}

.content {
  text-align: center;
}
.content__toppar {
  font-family: "Seaweed Script", cursive;
  color: #ff4415;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.content__toppar2 {
  color: #101010;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 119.231%;
}
.content__toppar3 {
  color: #646464;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: -0.16px;
  margin-top: 18px;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
.card--box {
  padding-bottom: 38px;
}
.card--box__img img {
  width: 368px;
  height: 220px;
}
.card--box__content {
  margin-left: 30px;
}
.card--box__content h3 {
  color: #1b1b1b;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 78.571%;
  margin-top: 32px;
}
.card--box__content p {
  color: #939393;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: -0.08px;
  margin-top: 14px;
}
.card--box__content__btn {
  display: flex;
  align-items: center;
  width: 171px;
  height: 62px;
  border-radius: 14px 16px 16px 16px;
  background: linear-gradient(102deg, #46c266 41.25%, #2fb652 98.64%);
  justify-content: space-between;
  border: none;
  margin-top: 24px;
}
.card--box__content__btn span {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
}
.card--box__content__btn img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  margin-top: 15px;
}
.card--box__content__red {
  background: linear-gradient(102deg, #ff6741 41.25%, #ff4415 98.64%);
}
.card--box__content__yellow {
  background: linear-gradient(102deg, #ffbc2d 41.25%, #feb618 98.64%);
}/*# sourceMappingURL=Foodstyle.css.map */