:root {
  --gap: 30px;
  --number: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 1320px;
  margin: auto;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 84px;

    h2 {
      color: #101010;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px; /* 117.647% */
      letter-spacing: -0.34px;
    }
    .icon {
      width: 28px;
      height: 28px;
      margin-top: 5px;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .cart {
      border-radius: 24px;
      background: #f6f6f6;
      padding: 20px 30px;
      position: relative;
      min-width: 270px;
      
      img {
        width: 114px;
        
        object-fit: cover;
        position: absolute;
        bottom: 32px;
        right: 26px;
      }

      &__box {
        .box__name {
          color: #171717;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 100% */
          letter-spacing: -0.24px;
          margin-bottom: 16px;
        }
        .box__title {
          color: #969696;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 25px; /* 138.889% */
        }
        .box__paice {
          color: #ff4415;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 25px;
        }
      }
    }
  }
}

@mixin media-sm-down(){
  @media only screen and (max-width: 576px) {
    @content
  }
}

@mixin media-sm-up(){
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin media-md-up(){
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg-up(){
  @media only screen and (min-width: 992px){
    @content;
  }
}

@mixin media-xl-up(){
  @media only screen and (min-width: 1200px){
    @content;
  }
}

@mixin media-xxl-up(){
  @media only screen and (min-width: 1400px){
    @content;
  }
}

@include media-sm-down(){
  .main__content{
    width: 100%;
  }
  .cart{
    width: calc((100% - (var(--gap) * (var(--number) - 1))) / var(--number));
  }
}

@include media-sm-up(){
  // .main__content{
  //   max-width: 540px;
  // }
    .main{
      max-width: 540px;
    }
  .cart{
    width: calc((100% - (var(--gap) * (var(--number) - 1))) / var(--number));
  }
}

@include media-md-up() {
  .main{
    max-width: 720px;
  }
  :root{
    --number: 2;
  }
}

@include media-lg-up(){
  .main{
    max-width: 960px;
  }
}

@include media-xl-up(){
  .main{
    max-width: 1140px;
  }
  :root{
    --number: 3;
  }
}

@include media-xxl-up(){
  .main{
    max-width: 1320px;
  }
  :root{
    --number: 4;
  }
}
